body{
    font-family: 'Caveat', cursive;
    font-family: 'Inter', sans-serif;
}
#bio{
    min-height: 300px;
    width: 100%;
    background-color: #25274d;
    color: white;
    padding: 50px 25px 50px 25px ;
    margin-top: 100px;
    .container{
        .desc{
            p{
                font-size: calc(.3vw + .7rem);
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-align: justify;
            }
        }
        .button-bio{
            cursor: pointer;
            height: calc(.58vw + 1.6rem);
            width: calc(4vw + 7rem);
            margin-top: 35px;
            background-color: #2e9cca;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            border: solid 1px #2e9cca;
            transition: all .3s;
            a{
                color: #25274d;
                text-decoration: none;
                font-size: calc(.3vw + .7rem);
                transition: all .3s;
            }
        }
        .button-bio:hover{
            background-color: transparent;
            a{
                color: #2e9cca;
            }
        }
    }
}
#passion{
    min-height: 500px;
    width: 100%;
    background-color: #25274d;
    color: white;
    padding: 50px 25px 50px 25px;

    .container{
        .title{
            margin-bottom: 25px;
            h3{
                color: #2e9cca;
                font-weight: bold;
            }
        }
        .desc{
            margin-bottom: 50px;
            p{
                font-size: calc(.3vw + .7rem);
                text-align: justify;  
            }
        }
        .skill-carousel {
            overflow: hidden;
            width: 100%;
            padding: 10px 0;

            .carousel-content {
                display: flex;
                flex-wrap: nowrap;
                animation: scrollAnimation 10s linear infinite; /* Sesuaikan kecepatan dan durasi scroll */
                will-change: transform;

                .carousel-slide{
                    height: calc(1vw + 3rem);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img{
                        height: 100%;
                        filter: drop-shadow(5px 0px 1px black);
                    }
                }
              }
          }
          
          /* Animasi scroll */
          @keyframes scrollAnimation {
            0% {
              transform: translateX(0);
            }
            100% {
              transform: translateX(-50%);
            }
          }
    }
}
#project{
    min-height: 500px;
    width: 100%;
    background-color: #25274d;
    color: white;
    padding: 50px 25px 50px 25px;
    .container-fluid{
        .title{
            margin-bottom: 75px;
            h3{
                color: #2e9cca;
                font-weight: bold;
            }
        }
        .project-content{
            min-height: fit-content;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .project-card{
                max-width: 350px;
                max-height: fit-content;
                margin: 25px;
                padding-bottom: 25px;
                background-color: white;
                border-radius: 10px;
                overflow: hidden;

                .picture{
                    min-height: 200px;
                    max-height: 200px;
                    max-width: 350px;
                    overflow: hidden;
                    
                    iframe{
                        width: 340%;
                        height: 675px;
                        transform: scale(.3);
                        transform-origin: 0 0;
                    }
                }
                .title{
                    margin: 15px 0px 10px 0px;
                    padding: 0 25px 0 25px;
                    height: 50px;
                    width: 100%;
                    h5{
                        color: #25274d;
                        font-weight: bold;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                }
                .button-more{
                    cursor: pointer;
                    height: 35px;
                    width: 125px;
                    background-color: #25274d;
                    margin-left: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #25274d;
                    border-radius: 5px;

                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
                .button-more:hover{
                    background-color: transparent;
                    transition: all .3s;
                    a{
                        color: #25274d;
                        transition: all .3s;
                    }
                }
            }
        }
    }
}
// #blog{
//     min-height: 500px;
//     width: 100%;
//     background-color: #25274d;
//     color: white;
//     padding: 50px 25px 50px 25px;
//     .container{
//         .title{
//             margin-bottom: 75px;
//             h3{
//                 color: #2e9cca;
//                 font-weight: bold;
//             }
//         }
//         .content{
//             width: 100%;
//             display: flex;
//             justify-content: space-evenly;

//             .blog-card{
//                 max-width: 300px;
//                 max-height: 450px;
//                 margin: 25px 25px;
//                 padding-bottom: 25px;
//                 background-color: white;
//                 color: black;
//                 border-radius: 15px;
//                 overflow: hidden;

//                 .thumbnail{
//                     img{
//                         width: 100%;
//                     }
//                 }
//                 .teks{
//                     .title{
//                         margin: 15px 0 0 15px;
//                         h5{
//                             color: #25274d;
//                             font-weight: bold;
//                             font-size: calc(.6vw + .9rem);
//                             text-align: start;
//                             display: -webkit-box;
//                             -webkit-line-clamp: 1;
//                             -webkit-box-orient: vertical;
//                             overflow: hidden;
//                         }
//                     }
//                     .date{
//                         margin: 0 0 0 15px;
                        
//                         p{
//                             font-size: calc(.1vw + .7rem);
//                             color: rgba(0, 0, 0, 0.3);
//                         }
//                     }
//                     .desc{
//                         margin: -10px 15px 25px 15px;

//                         p{
//                             text-align: justify;
//                             font-size: calc(.1vw + .7rem);
//                             display: -webkit-box;
//                             -webkit-line-clamp: 5;
//                             -webkit-box-orient: vertical;
//                             overflow: hidden;
//                         }
//                     }
//                     .button-more{
//                         cursor: pointer;
//                         height: 35px;
//                         width: 150px;
//                         background-color: #25274d;
//                         line-height: 35px;
//                         border-radius: 10px;
//                         border: solid 1px #25274d;
//                         transition: .3s;

//                         a{
//                             color: white;
//                             text-decoration: none;
//                         }
//                     }
//                     .button-more:hover{
//                         background-color: transparent;
//                         line-height: 35px;
//                         border-radius: 10px;

//                         a{
//                             color: #25274d;
//                             text-decoration: none;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
#feedback{
    min-height: 500px;
    width: 100%;
    background-color: #25274d;
    color: white;
    padding: 50px 25px 50px 25px;
    .container{
        .title{
            h3{
                color: #2e9cca;
                font-weight: bold;  
            }
        }
        form{
            button{
                background-color: #2e9cca;
                color: white;
            }
        }
    }
}

// halaman bio
#biografi{
    min-height: 300px;
    width: 100%;
    background-color: #25274d;
    color: white;
    padding: 50px 25px 50px 25px ;
    margin-top: 100px;
    .container{
        .title{
            h1{
                color: #2e9cca;
                font-weight: 900;
                margin: 0;  
            }
    }
        .data-diri{
            .foto-profil{
                width: 250px;
                margin: 50px auto;
                img{
                    width: 100%;
                    border-radius: 50%;
                    border: solid 5px #1a1b3b;
                }
            }
        }
    }
}
// halaman bio
// halaman project
#project-page{
    min-height: 300px;
    width: 100%;
    background-color: #25274d;
    color: white;
    padding: 50px 25px 50px 25px ;
    margin-top: 100px;

    .container{
        .title{
            margin-bottom: 75px;
            h1{
                color: #2e9cca;
                font-weight: 900;
                margin: 0;  
            }
        }
        .content{
            min-height: fit-content;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;

            .project-card{
                max-width: 350px;
                min-width: 250px;
                max-height: fit-content;
                margin: 25px;
                padding-bottom: 25px;
                background-color: white;
                border-radius: 10px;
                overflow: hidden;

                .picture{
                    height: 200px;
                    max-width: 350px;
                    overflow: hidden;
                    
                    iframe{
                        width: 340%;
                        height: 675px;
                        transform: scale(.3);
                        transform-origin: 0 0;
                    }
                }
                .title{
                    margin: 15px 0px 10px 0px;
                    padding: 0 25px 0 25px;
                    height: 50px;
                    width: 100%;
                    h5{
                        color: #25274d;
                        font-weight: bold;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                }
                .button-more{
                    cursor: pointer;
                    height: 35px;
                    width: 125px;
                    background-color: #25274d;
                    margin-left: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #25274d;
                    border-radius: 5px;

                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
                .button-more:hover{
                    background-color: transparent;
                    transition: all .3s;
                    a{
                        color: #25274d;
                        transition: all .3s;
                    }
                }
            }
        }
    }
}
// halaman project
// halaman blog
// #blog-page{
//     min-height: 300px;
//     width: 100%;
//     background-color: #25274d;
//     color: white;
//     padding: 50px 25px 50px 25px ;
//     margin-top: 100px;
//     .container{
//         .title{
//             margin-bottom: 75px;
//             h1{
//                 color: #2e9cca;
//                 font-weight: bold;
//             }
//         }
//         .content{
//             width: 100%;
//             display: flex;
//             justify-content: space-evenly;
//             flex-wrap: wrap;

//             .blog-card{
//                 max-width: 300px;
//                 max-height: 450px;
//                 margin: 25px 25px;
//                 padding-bottom: 25px;
//                 background-color: white;
//                 color: black;
//                 border-radius: 15px;
//                 overflow: hidden;

//                 .thumbnail{
//                     img{
//                         width: 100%;
//                     }
//                 }
//                 .teks{
//                     .title{
//                         margin: 15px 0 0 15px;
//                         h5{
//                             color: #25274d;
//                             font-weight: bold;
//                             font-size: calc(.6vw + .9rem);
//                             text-align: start;
//                             display: -webkit-box;
//                             -webkit-line-clamp: 1;
//                             -webkit-box-orient: vertical;
//                             overflow: hidden;
//                         }
//                     }
//                     .date{
//                         margin: 0 0 0 15px;
                        
//                         p{
//                             font-size: calc(.1vw + .7rem);
//                             color: rgba(0, 0, 0, 0.3);
//                         }
//                     }
//                     .desc{
//                         margin: -10px 15px 25px 15px;

//                         p{
//                             font-size: calc(.1vw + .7rem);
//                             text-align: justify;
//                             display: -webkit-box;
//                             -webkit-line-clamp: 5;
//                             -webkit-box-orient: vertical;
//                             overflow: hidden;
//                         }
//                     }
//                     .button-more{
//                         cursor: pointer;
//                         height: 35px;
//                         width: 150px;
//                         background-color: #25274d;
//                         line-height: 35px;
//                         border-radius: 10px;
//                         border: solid 1px #25274d;
//                         transition: .3s;

//                         a{
//                             color: white;
//                             text-decoration: none;
//                         }
//                     }
//                     .button-more:hover{
//                         background-color: transparent;
//                         line-height: 35px;
//                         border-radius: 10px;

//                         a{
//                             color: #25274d;
//                             text-decoration: none;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
// halaman blog
// halaman single blog
// #blog-post{
//     min-height: 300px;
//     width: 100%;
//     background-color: #25274d;
//     color: white;
//     padding: 50px 25px 50px 25px ;
//     margin-top: 100px;

//     .container{
//         .thumbnail{
//             width: 100%;
//             max-height: fit-content;

//             img{
//                 width: 100%;
//             }
//         }
//         .teks{
//             margin-bottom: 150px;
//             .date{
//                 margin-top: 25px;
//                 margin-bottom: -15px;
//                 p{
//                     font-size: calc(.4vw + .6rem);
//                     color: rgba(128, 128, 128, 0.5);
//                 }
//             }
//             .title{
//                 h1{
//                     font-size: calc(1.5vw + 1rem);
//                     color: #2e9cca;
//                     font-weight: bold;
//                 }
//             }
//             .desc{
//                 p{
//                     font-size: calc(.4vw + .6rem);
//                     text-align: justify;
//                 }
//             }
//         }
//         a{
//             color: white;
//             transition: .3s all;
//         }
//         a:hover{
//             color: #2e9cca;
//         }
//     }
// }
// halaman single blog
// halaman sertifikat
#certificate{
    min-height: 300px;
    width: 100%;
    background-color: #25274d;
    color: white;
    padding: 50px 25px 50px 25px ;
    margin-top: 100px;
    .container{
        .title{
            margin-bottom: 75px;
            h1{
                color: #2e9cca;
                font-weight: bold;
            }
        }
        .content{
            .list-certificate{
                p{
                    margin-right: 5px;
                    margin-bottom: 0;
                }
                a{
                    color: #2e9cca;
                    text-decoration: none;
                    transition: all .3s;
                }
                a:hover{
                    color: aqua;
                }
            }
        }
    }
}
// halaman sertifikat
// halaman contact
#contact{
    min-height: 300px;
    width: 100%;
    background-color: #25274d;
    color: white;
    padding: 50px 25px 50px 25px ;
    margin-top: 100px;
    .container{
        padding: 0 2.5rem;
        .title{
            margin-bottom: 75px;
            h1{
                color: #2e9cca;
                font-weight: bold;
            }
        }
        .content{
            .list-contact{
                display: flex;
                flex-wrap: wrap;
                p{
                    margin-right: 5px;
                    margin-bottom: 0;
                }
                a{
                    color: #2e9cca;
                    text-decoration: none;
                    transition: all .3s;
                }
                a:hover{
                    color: #64d1ff;
                }
            }
        }
    }
}
// halaman contact