nav#navbar {
  width: 100%;
  height: 75px;
  background: rgb(25, 25, 25);
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 50;
  box-shadow: none;
  transition: all 0.3s;
}
nav#navbar .logo {
  height: 100%;
}
nav#navbar .logo a {
  text-decoration: none;
}
nav#navbar .logo a h1 {
  background: linear-gradient(-75deg, white, rgb(100, 100, 100), white);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shinyText 10s linear infinite;
  font-weight: 900;
  line-height: 75px;
}
@keyframes shinyText {
  0% {
    background-position: -150px 0;
  }
  50% {
    background-position: 0px 0;
  }
  100% {
    background-position: 150px 0;
  }
}
nav#navbar .nav-link {
  width: 50%;
  transition: all 0.3s;
}
nav#navbar .nav-link ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  transition: all 0.3s;
}
nav#navbar .nav-link ul li {
  margin-top: 15px;
}
nav#navbar .nav-link ul li a {
  font-weight: 500;
  text-decoration: none;
  color: rgba(128, 128, 128, 0.5);
  font-size: 1.3rem;
  transition: 0.3s;
}
nav#navbar .nav-link ul li.active a {
  font-weight: 500;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  transition: 0.3s;
}
nav#navbar .nav-link ul li a:hover {
  font-weight: 500;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  transition: 0.3s;
}
nav#navbar .button-contact {
  cursor: pointer;
  height: 50px;
  width: 150px;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  border: solid 1px white;
  border-radius: 10px;
  transition: all 0.3s;
}
nav#navbar .button-contact a {
  text-decoration: none;
  color: white;
}
nav#navbar .button-contact:hover {
  background-color: white;
}
nav#navbar .button-contact:hover a {
  color: rgb(25, 25, 25);
}
nav#navbar .menu-toggle {
  z-index: 10;
  display: none;
  margin: 0 0 0 25px;
  opacity: 0;
  transform: translateX(100%);
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  transition: all 0.3s;
}
nav#navbar .menu-toggle :hover span {
  background-color: white;
}
nav#navbar .menu-toggle input {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -5px;
  opacity: 0;
  cursor: pointer;
  z-index: 15;
}
nav#navbar .menu-toggle span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: white;
  border-radius: 3px;
  transition: 0.5s;
}
nav#navbar .menu-toggle span:nth-child(2) {
  width: 15px;
  transform-origin: 0 0;
}
nav#navbar .menu-toggle span:nth-child(4) {
  margin-left: 15px;
  width: 15px;
  transform-origin: 0 100%;
}
nav#navbar .menu-toggle input:checked ~ span:nth-child(2) {
  width: 30px;
  transform: rotate(45deg) translate(-2.5px, -2.5px);
  background-color: white;
}
nav#navbar .menu-toggle input:checked ~ span:nth-child(4) {
  margin-left: 0;
  width: 30px;
  transform: rotate(-45deg) translate(-1px, 0px);
  background-color: white;
}
nav#navbar .menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}/*# sourceMappingURL=navbar.css.map */